.container {
  max-width: 800px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.height-100vh {
  height: 100vh;
}

.col-full {
  width: 100%;
}

img {
  width: 100%;
}

.flex-direction-column {
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.height-40vh {
  height: 40vh;
}

.align-items-end {
  align-items: end;
}

.position-relative {
  position: relative;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}
