body {
  background-color: #5b5548;
  overflow: hidden;
}

.emoji {
  background: transparent;
  border: none;
  font-size: 7rem;
  cursor: pointer;
  user-select: none;
}

h1 {
  color: #e5e5e5;
  font-family: Pacifico, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.h1-container {
  border-bottom: 1px solid whitesmoke;
}

.jokes {
  color: white;
  font-size: 400;
  font-family: Roboto, sans-serif;
}
