body {
  background-color: #5b5548;
}

.emoji {
  background: transparent;
  border: none;
  font-size: 7rem;
  cursor: pointer;
  user-select: none;
}

h1 {
  color: #e5e5e5;
  font-family: Pacifico, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.h1-container {
  border-bottom: 1px solid whitesmoke;
}

.jokes {
  color: white;
  font-size: 400;
  font-family: Roboto, sans-serif;
  width: 85%;
}

.fa-chevron-right {
  color: white;
  font-size: 1.3rem;
}

.fa-chevron-left {
  color: white;
  font-size: 1.3rem;
}

.favorite-emoji {
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  width: 10%;
}

.joke-container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h3 {
  color: white;
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
  color: white;
  font-family: Roboto, sans-serif;
}

.favorite-joke-container {
  padding: 2rem;
  margin: 2rem;
  border-bottom: solid 1px whitesmoke;
}

.fa-trash-can {
  color: rgba(175, 18, 18, 0.896);
  font-size: 1.5rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: #0000006b;
}

.model-container {
  width: 35%;
  margin: 0 auto;
  padding: 3rem;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.close {
  text-align: end;
  margin: 0.5rem;
}

.model {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
  background-color: #5b5548;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  padding: 1rem 0;
}

.yes {
  padding: 0.5rem 2rem;
  background-color: hsla(102deg, 68%, 39%, 0.589);
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.yes:hover {
  background-color: hsla(102deg, 79%, 16%, 0.885);
}

.confirm-buttons-container {
  margin: 2rem 0 1rem;
}

.no {
  padding: 0.5rem 2rem;
  background-color: hsla(16deg, 69%, 31%, 0.531);
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.no:hover {
  background-color: hsla(16deg, 84%, 37%, 0.711);
}

.close-button {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
  transition: 0.5s;
  cursor: pointer;
}

.close-button:hover {
  color: hsl(16deg, 84%, 37%);
}
